html{
    height: 100%;
}
#mainNavbar{ /*ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

ul{
    background-color: #ddd;
}
#mainNavbarItems{ /*li*/
    float: left;
    background-color: var(--color-bg-2);
    border-right: 1px solid #bbb;
}

#mainNavbarItems a{ /*li a*/
    display: block;
    padding: 14px 16px;
    color: white;
    
    text-align: center;
    text-decoration: none;
}
#mainNavbarItems a:hover:not(.active){
    background-color: #111;
}
.active{
    background-color: #04aa6d;
}
body {
    --color-text: #fff;
    --color-bg: #143261;
    --color-bg-2: #010915;
    --color-link: #f6e27f;
    --color-link-hover: #e2c391;
    background: radial-gradient(ellipse at 50% 50%, var(--color-bg) 40%, var(--color-bg-2) 150%);
  }
  